.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 2%;
}

.product-container{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    padding-right: 10px;
}