.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 2%;
}

.product-container{
    border-right: 1px solid lightgray;
    margin-right: 5px;
    padding-right: 10px;
}
.pagination button{
    padding-inline: 5%;
    background-color: rgb(8, 121, 214);
    border: 1px solid  lightgray;
    margin: 1%;
}
.pagination .selected{
    background: rgb(4, 4, 102);
    color: white;
}